@define-color noti-border-color #cad5ff;
@define-color noti-bg #0f0f0f;
@define-color noti-bg-alt #0f0f0f;
@define-color noti-fg #cad5ff;
@define-color noti-bg-hover #232323;
@define-color noti-bg-focus #F75265;
@define-color noti-close-bg rgba(202, 213, 255, 0);
@define-color noti-close-bg-hover #F75265;
@define-color noti-urgent #F75265;

@define-color bg-selected #cad5ff;

* {
  border-radius: 0px;
  font-family: "JetBrains Mono Nerd Font";
  font-weight: bold;
}

.notification-row {
  outline: none;
}

.notification-row:focus,
.notification-row:hover {
  background: @noti-bg-focus;
}

.notification {
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.3),
    0 1px 3px 1px rgba(0, 0, 0, 0.7),
    0 2px 6px 2px rgba(0, 0, 0, 0.3);
}

/* Uncomment to enable specific urgency colors */
/* .low {
  background: yellow;
  padding: 6px;
}

.normal {
  background: green;
  padding: 6px;
} */

.critical {
  background: @noti-urgent;
  padding: 2px;
}

.notification-content {
  background: transparent;
}

.close-button {
  background: @noti-close-bg;
  color: #cad5ff;
  text-shadow: none;
  padding: 0;
  margin: 15px;
  box-shadow: none;
  border: none;
  min-width: 24px;
  min-height: 24px;
}

.close-button:hover {
  box-shadow: none;
  background: @noti-close-bg-hover;
  color: #000000;
  transition: all 0.15s ease-in-out;
  border: none;
}

.notification-default-action,
.notification-action {
  margin: 0;
  box-shadow: none;
  background: @noti-bg;
  border: 2px solid @noti-border-color;
  color: #cad5ff;
}

.notification-default-action:hover,
.notification-action:hover {
  -gtk-icon-effect: none;
  background: @noti-bg-hover;
}

.notification-default-action {
}

/* When alternative actions are visible */
.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-action {
  border-top: none;
  border-right: none;
}

/* add bottom border radius to eliminate clipping */
.notification-action:first-child {
  border-bottom-left-radius: 10px;
}

.notification-action:last-child {
  border-bottom-right-radius: 10px;
  border-right: 1px solid @noti-border-color;
}

.image {
  border-radius: 12px;
  padding: 5px;
}

.body-image {
  margin-top: 6px;
  background-color: white;
  border-radius: 12px;
}

.summary {
  font-size: 24px;
  font-weight: bold;
  background: transparent;
  color: #cad5ff;
  text-shadow: none;
  padding: 10px 0 10px 5px;
}

.time {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: #cad5ff;
  text-shadow: none;
  margin-right: 20px;
  margin-top: 10px;
}

.body {
  font-size: 20px;
  font-weight: normal;
  background: transparent;
  color: #cad5ff;
  text-shadow: none;
  padding: 0 10px 10px 5px;
}

/* The "Notifications" and "Do Not Disturb" text widget */
.top-action-title {
  color: #cad5ff;
  text-shadow: none;
}

.control-center {
  background-color: @noti-bg-alt;
  padding: 10px;
  color: #cad5ff;
}

.control-center-list {
  background: transparent;
}

.floating-notifications {
  background: transparent;
}

/* Window behind control center and on all other monitors */
.blank-window {
  background: transparent;
}

/*** Widgets ***/

/* Title widget */
.widget-title {
  margin: 8px;
  font-size: 32px;
  font-weight: bold;
}

.widget-title > button {
  background: #cad5ff;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  text-shadow: none;
  border: none;
  box-shadow: none;
  padding: 5px 15px;
  border-radius: 5px;
}

/* DND widget */
.widget-dnd {
  margin: 8px;
  font-size: 18px;
  font-weight: normal;
}

.widget-dnd > switch {
  font-size: 32px;
  background: @noti-bg;
  padding: 5px;
  border-radius: 100px;
  border: 2px solid #cad5ff;
  box-shadow: none;
  color: transparent;
  margin-right: 15px;
}

.widget-dnd > switch:checked {
  background: #cad5ff;
}

.widget-dnd > switch:checked slider {
  background: #0f0f0f;
}

.widget-dnd > switch slider {
  background: #cad5ff;
  border-radius: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 20px;
  min-width: 20px;
  margin: 0px;
}

/* Label widget */
.widget-label {
  margin: 8px;
  color: #cad5ff;
}

.widget-label > label {
  font-size: 1.1rem;
}

.widget-mpris-player {
  padding: 10px;
  margin: 10px;
  background-color: #1c1c1c;
  border-radius: 10px;
}

.widget-mpris-title {
  font-weight: bold;
  font-size: 20px;
}

.widget-mpris-subtitle {
  font-size: 16px;
}

/* Volume and Brightness Widget*/

.widget-volume,
.widget-backlight {
  font-size: 32px;
  padding: 20px;
  margin: 10px;
  color: #5b9bf8;
  background-color: #1c1c1c;
  border-radius: 10px;
}

.widget-buttons-grid {
  padding: 10px;
  margin: 10px;
  background-color: #1c1c1c;
  border-radius: 10px;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  background: #f75265;
  border: none;
  font-size: 32px;
  border-radius: 5px;
  min-width: 70px;
  color: #000000;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: #f03050;
}
