* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  font-size: 20px;
}

.spacer-v {
  min-height: 10px;
}

.spacer-h {
  min-width: 10px;
}

.window-module {
  background-color: #000000;
  margin-bottom: -6px;
  margin-left: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

.window-module label {
  color: #cad5ff;
  font-family: JetBrainsMono Nerd Font;
  font-size: 15px;
  font-weight: bold;
}

.workspace-button {
  background-color: #cad5ff;
  margin-left: 4px;
  margin-bottom: -6px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.workspace-button label {
  color: #131313;
  font-family: JetBrainsMono Nerd Font;
  font-weight: bold;
  font-size: 14px;
}

.bar {
  background-color: #131313;
  color: #cad5ff;
}

.bar-menu {
  background-color: #131313;
  color: #cad5ff;
  padding: 20px;
}

.bar-menu-button {
  background-color: #cad5ff;
  text-shadow: none;
  box-shadow: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.bar-menu-button label {
  color: #282828;
  text-shadow: none;
  box-shadow: none;
  font-weight: bold;
  font-size: 20px;
  font-family:
    JetBrainsMono Nerd Font,
    monospace;
}

.bar-menu-spacer {
  min-height: 50px;
}

.metric scale trough highlight {
  all: unset;
  background-color: #cad5ff;
  color: #000000;
  border-radius: 50px;
}

.metric scale trough {
  all: unset;
  background-color: #3c3836;
  border-radius: 50px;
  min-height: 18px;
  min-width: 200px;
  margin-left: -50px;
  margin-right: 0px;
  margin-top: 15px;
  margin-bottom: 15px;
}

label {
  color: #efefef;
  font-family: bold;
}

.metric label {
  min-width: 40px;
}

.metric-label {
  margin-left: -90px;
}

.metric-label-text label {
  font-size: 28px;
  color: #cad5ff;
}

.powermenu-window {
  background-color: #131313;
  color: #cad5ff;
  padding: 20px;
}

.powermenu-window label {
  font-family: JetBrainsMono Nerd Font;
  font-weight: bold;
  font-size: 22px;
  color: #cad5ff;
  background-color: #191919;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 4px;
  margin-left: 4px;
}

.powermenu-button {
  background-color: #f75265;
  border: none;
  text-shadow: none;
  box-shadow: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 4px;
  margin-right: 4px;
}

.powermenu-button label {
  color: #000000;
  text-shadow: none;
  box-shadow: none;
  font-weight: bold;
  font-size: 25px;
  font-family: JetBrainsMono Nerd Font;
  background: none;
  border: none;
  padding: 0px;
}

.powermenu-poweroff-button label {
  padding-right: 6px;
}

.powermenu-reboot-button label {
  padding-left: 8px;
}

.powermenu-spacer-v {
  min-height: 20px;
}

.powermenu-button-spacer {
  min-width: 10px;
}
