* {
  font-family: "JetBrainsMono NF";
  font-size: 16px;
  font-weight: bold;
}

window#waybar {
  background-color: #0e0e0e;
  color: #cad5ff;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 0;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
  background-color: #3f3f3f;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

button {
  all: unset;
  background-color: rgba(0, 0, 0, 0);
  color: #cad5ff;
  margin: 5px 2px;
  font-weight: bold;
  font-size: 32px;
  padding: 10px 15px;
  transition: transform 0.1s ease-in-out;
  border-radius: 5px;
}

button:hover,
button.active {
  background: inherit;
  background-color: #cad5ff;
  color: #000000;
}

#mode {
  background-color: #64727d;
  border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-swaync,
#custom-menu,
#mpd {
  padding: 0 10px;
  color: #ffffff;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 5px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#window {
  color: #cad5ff;
  font-size: 18px;
  font-weight: bold;
  padding: 0 10px;
}

#custom-swaync {
  background-color: #5b9bf8;
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  margin: 5px 0;
  margin-right: 5px;
  padding-left: 13px;
  padding-right: 9px;
  border-radius: 5px;
}

#custom-menu {
  background-color: #cad5ff;
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  margin: 5px 0;
  padding-left: 14px;
  padding-right: 8px;
  border-radius: 5px;
}

#custom-powermenu {
  background-color: #f75265;
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  margin: 5px 0;
  margin-right: 7px;
  padding-left: 14px;
  padding-right: 7px;
  border-radius: 5px;
}

#clock {
  background-color: #cad5ff;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;
  border-radius: 5px;
}

#battery {
  background-color: #cad5ff;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;
  border-radius: 5px;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #f75265;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;
  border-radius: 5px;
}

label:focus {
  background-color: #000000;
}

#cpu {
  background-color: #689d6a;
  color: #282828;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-bottom: 8px solid #518554;
  border-radius: 5px;
  margin-bottom: 2px;
}

#memory {
  background-color: #c8779b;
  color: #282828;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-bottom: 8px solid #b16286;
  border-radius: 5px;
  margin-bottom: 2px;
}

#disk {
  background-color: #964b00;
}

#backlight {
  background-color: #98bbad;
  color: #282828;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-bottom: 8px solid #80a295;
  border-radius: 5px;
  margin-bottom: 2px;
}

#network {
  background-color: #2980b9;
}

#network.disconnected {
  background-color: #f53c3c;
}

#pulseaudio {
  background-color: #cad5ff;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;
  border-radius: 5px;
}

#wireplumber {
  background-color: #fff0f5;
  color: #000000;
}

#wireplumber.muted {
  background-color: #f53c3c;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature {
  background-color: #f0932b;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#tray {
  background-color: #2e3038;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;
  border-radius: 5px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #f75265;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#mpd {
  background-color: #66cc99;
  color: #2a5c45;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}

#language {
  background: #00b093;
  color: #740864;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
  background-color: transparent;
}

tooltip {
  background-color: #cad5ff;
  color: #000000;
  border: none;
}

tooltip decoration {
  box-shadow: none;
}

tooltip decoration:backdrop {
  box-shadow: none;
}

tooltip label {
  color: #000000;
  font-size: 18px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  padding-bottom: 5px;
  margin-top: 10px;
}
