* {
  border: none;
  outline: none;
}

window {
  font-size: 20px;
  font-family: "JetBrains Mono Nerd Font";
  background-color: rgba(13, 13, 13, 0.8);
  color: #cad5ff;
}

#entry {
  padding: 1rem;
}

#entry:selected {
  background-color: #cad5ff;
  border-radius: 0;
}

#text:selected {
  color: #000000;
}

#input {
  background-color: rgba(13, 13, 13, 0.8);
  color: #cad5ff;
  padding: 1rem;
  border-radius: 0;
}

image {
  margin: 0 1rem;
}
