[Desktop Entry]
Version=1.0
Name=Whatsapp
Comment=whatsapp
Exec=librewolf --new-window web.whatsapp.com
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=whatsapp
Categories=GTK;AudioVideo;
