[Desktop Entry]
Version=1.0
Name=Youtube
Comment=youtube
Exec=librewolf --new-window youtube.com
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=youtube
Categories=GTK;AudioVideo;
